ldap.physalis.host = nameOfLDAPHost
ldap.physalis.accountDomainName = FQDNofLDAPHost
ldap.physalis.accountDomainNameShort = nameofLDAPDomain
ldap.physalis.accountCanonicalForm = 4
ldap.physalis.baseDn = "baseDNofLDAPDomain"
ldap.physalis.bindRequiresDn = true
ldap.physalis.useSsl = true

ldap.gruppen.mitglied.hfs = "azebohfs"
ldap.gruppen.mitglied.hfm = "azebohfm"
ldap.gruppen.mitglied.khb = "azebokhb"
ldap.gruppen.mitglied.khbstudi = "KHB-StudHK"
ldap.gruppen.buero.hfs = "HFS-Zeit"
ldap.gruppen.buero.hfm = "HFM-Zeit"
ldap.gruppen.buero.khb = "KHB-Zeit"
ldap.gruppen.scit = "SC-IT-Zeit"